<!DOCTYPE html>
<html>
<head>

	<title>Tjejer kodar Quiz</title>
	<meta charset = "utf-8">
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="/static/style.css">

</head>


<br>
	<h2>{{ question_number }}. {{ question|safe }}</h2>

	<form action="{% url "question_page" quiz.slug question_number %}" method="post">

	<p>
		<label>
			<input type="radio" name="answer" value="1">
			{{ answer1 }}
		</label>
	</p>
	<p>
		<label>
			<input type="radio" name="answer" value="2">
			{{ answer2 }}
		</label>
	</p>
	<p>
		<label>
			<input type="radio" name="answer" value="3">
			{{ answer3 }}
		</label>
	</p>

	<button type="submit" class="buttonnext">Nästa</button>

	{% csrf_token %}

	</form>

	<br>

</body>
