<!DOCTYPE html>
<html>
<head>
	<title>Quiz</title>
	<meta charset = "utf-8">
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
<br>
<h1>{{ quiz.name }}</h1>
	<p>{{ quiz.description }}</p>

<p><a href="{% url "question_page" quiz.slug 1 %}">Starta</a></p>

	<h1>Välkommen till Flagg-Quizet? Hur många flaggor kan du pricka rätt?</h1>

	<br>

		<h3>Tryck på knappen för att starta Quizet!</h3>

	<br>
		<a href="question.html" class="button">Start</a>
		</div>



