<!DOCTYPE html>
<html lang="en-US">
<html>
<head>
<style>
.city {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
} 


</style>
	<title>Tjejerkodar Quiz</title>
	<meta charset = "utf-8">
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="/static/style.css">
   
</head>

<body>
    
    <h1>Välkommen till Tjejerkodar Quiz<h1>

	<h2> Välj någon av quizen nedan och testa dina kunskaper!</h2> 

	{% for quiz in quizzes %}
		 <h2><p><a href="{% url "quiz_page" quiz.slug %}">
			{{ quiz.name }}
		</a></p></h2>
		{% endfor %}

	<h2>Flagg-Quizet</h2>
	<img src="static/flaggor.jpg" alt="Flaggor" style="width:304px;height:228px;">

	<h2>Huvudstäder-Quizet</h2>
	<img src="static/huvudstäder.jpg" alt="Huvudstäder" style="width:304px;height:228px;">

	<br>
		

</body>